body {
	overflow: auto !important;
	background-attachment: fixed;
}
#main_bntp {
	display: none !important;
}
#main_bn {
	display: none !important;
}
#main_bn_container {
	display: none !important;
}
#main_sts_container {
	position: fixed !important;
	z-index: 2
}
#main_sts {
	background-position: -5px 3px !important;
	width: 750px !important;
	padding-top: 3px;
}
div.game {
	width: 770px !important;
}
#globalcss {
	padding-left: 10px !important;
}
#app_body {
	width: 740px !important;
	padding: 25px 5px 5px 5px !important;
	margin-top: 8px !important;
}
#nvbar {
	display: none !important;
}
#app_body_container {
	padding-top: 100px !important;
}
#globalContainer {
	width: 770px !important;
}
#AjaxLoadIcon {
	width: 80px !important;
	position: fixed !important;
	height: 80px !important;
	left: 350px !important;
	top: 150px !important;
	box-shadow: 0 5px 21px 10px black, 0 0 4px 4px black inset;
	border-radius: 50%;
}
.MonsterListBackground {
	background-image: url('http://image4.castleagegame.com/graphics/monsterlist_container.gif');
	background-repeat: no-repeat;
	height: 90px;
	padding-bottom: 15px;
}
.MonsterListButton {
	float: left;
	text-align: center;
	padding-top: 20px;
}
.MonsterListName {
	float: left;
	text-align: center;
	color: black;
	padding-left: 35px;
	width: 240px;
	margin-right: 32px;
	padding-top: 15px;
}
.MonsterListImage {
	float: left;
	padding: 15px 0 0 33px;
	overflow: hidden;
}
.MonsterListText {
	position: relative;
	top: -18px;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 2px black;
	left: 5px;
}
.GuildList {
	height: 105px !important;
	padding: 3px 0px 5px 20px !important;
	background-image: url('http://image4.castleagegame.com/graphics/guild_monster/guild_battle_bg.jpg');
	border-bottom: 3px groove #AAA;
	background-repeat: no-repeat;
	background-position: 0 -8px;
	font-size: 13px;
}
.GuildNum {
	color: white;
	position: relative;
	top: -100px;
	left: 6px;
	text-shadow: 0 0 1px black, 0 0 4px black;
	font-weight: bold;
}
.cageResults {
	position: fixed;
	top: 100px;
	box-shadow: 0 0 3px 1px #800, 0 5px 20px black;
	z-index: 2;
	border-radius: 6px;
	padding: 5px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_main_middle.jpg');
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 700px;
	left: 10px;
	width: 750px;
}
#cageCloseResult {
	float: right;
	position: relative;
	cursor: pointer;
	margin-bottom: -21px;
	width: 21px;
}
#MonsterResultDamage {
	float: left;
	width: 420px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
}
.resultsTop {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.resultsBottom {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.resultsmainwrapper {
	margin-bottom: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_main_middle.jpg');
	border-radius: 6px;
	border: 1px solid #701919;
}
.results {
	background-image: url('') !important;
	border: 0 !important;
	padding: 5px !important;
}
div.connect_castlepb_bg {
	z-index: 11 !important;
}
iframe.FB_UI_Dialog {
	height: 537px !important;
}
.cageQuestSwitchGeneral {
	top: -14px;
	position: relative;
	width: 78px;
	cursor: pointer;
}