html {
	overflow: auto;
}

body {
	background-attachment: fixed;
}

div.game {
	width: 770px !important;
	position: absolute;
}

#globalcss {
	padding-left: 10px !important;
}

#main_sts_container {
	position: fixed !important;
	height: 50px;
	width: 752px;
	z-index: 3;
	top: -1px;
	overflow: hidden;
}

#main_sts_container>div:first-child {
	height: 50px !important;
}

#mainHeaderTabs {
	background-image: url(https://castleagegame1-a.akamaihd.net/graphics/header_persist_background.jpg);
	background-position-y: -50px;
	width: 750px;
	margin-top: -8px;
	font-size: 10px;
	font-weight: bold !important;
	margin-left: 0px;
	position: fixed;
	top: 100px;
	z-index: 5;
	box-shadow: 0 5px 13px 2px #000;
}

#mainHeaderTabs>div>div:first-child {
	padding: 0 0 0 2px !important;
}

#mainHeaderTabs>div>div:nth-last-child(2) {
	float: right !important;
	padding: 0 3px 0 0 !important;
}

#app_body {
	width: 740px !important;
	padding: 7px 5px 5px 5px !important;
	margin-top: 1px !important;
}

#nvbar,#nvbar_div_end,#main_bn,#main_bn_container,#main_bntp {
	display: none !important;
}

#app_body_container {
	padding-top: 95px !important;
}

#globalContainer {
	width: 970px !important;
}

#AjaxLoadIcon {
	width: 80px !important;
	position: fixed;
	margin-left: 50%;
	left: -140px;
	box-shadow: 0 5px 12px 8px #000, 0 5px 12px 8px #000 inset;
	border-radius: 50px;
	z-index: 999;
	display: none;
	height: 78px;
	top: 145px;
	cursor: wait;
}

div.resultsTop {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

div.resultsBottom {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

div.resultsmainwrapper {
	margin-bottom: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_main_middle.jpg');
	border-radius: 6px;
	border: 1px solid #701919;
	width: 738px;
}

div.results {
	border: 0;
	width: 728px;
	border-radius: 6px;
	padding: 5px !important;
}

div.connect_castlepb_bg {
	height: 100% !important;
}

.cageQuestSwitchGeneral {
	top: -14px;
	position: relative;
	width: 78px;
	cursor: pointer;
}
/*
 * Popups
 */
#single_popup_background {
	cursor: pointer;
	height: 100%;
	position: fixed;
	width: 100%;
	background-color: black;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
}

#single_popup {
	opacity: 0;
	position: absolute;
	top: 51px;
	display: block;
	left: 1px;
}

#result_popup_message {
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 100;
	position: fixed;
	top: 120px;
	margin-left: 15px;
}

div.demipb_button {
	position: absolute !important;
	left: 456px !important;
	top: 3px !important;
}

#expandedGuildChat,#collapsedGuildChat {
	z-index: 11 !important;
	top: 54px !important;
	margin-left: 13px;
	position: fixed !important;
}

#collapsedGuildChat {
	background-size: 51px 31px;
}

.cageCAMenu {
	width: 693px !important;
	position: fixed;
	z-index: 10;
	top: 49px;
	padding-left: 57px;
	box-shadow: 0 5px 13px 2px #000;
}

div.mainMenu a {
	font-size: 12px !important;
	color: #55c4f2 !important;
	font-family: Arial, Helvetica, sans-serif;
}

.mainMenu li ul {
	box-shadow: 0 5px 13px 2px #000;
	border-bottom-left-radius: 10;
	border-bottom-right-radius: 10;
	width: 98px;
	height: auto !important;
}

.mainMenu li div.bottom {
	height: 3px !important;
}

#conquest_report {
	top: 20px !important;
}
/*
 * Guild profile pics link
 */
.cageProfileLink {
	cursor: pointer;
	opacity: 0.7;
}

.cageProfileLink:hover {
	opacity: 1;
}