body {
	overflow-y: scroll !important;
	background: #000 !important;
}
body > center {
	text-align: left !important;
	width: 778px !important;
}
#main_bntp {
	display: none !important;
}
#main_bn {
	display: none !important;
}
#main_bn_container {
	display: none !important;
}
#main_sts_container {
	height: 70px !important;
	position: fixed !important;
	z-index: 2
}
div.game {
	width: 779px !important;
}
#globalcss {
	padding-left: 10px !important;
}
#app_body {
	width: 740px !important;
	margin-top: 8px !important;
	box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.5)
}
#nvbar {
	display: none !important;
}
#app_body_container {
	padding-top: 70px !important;
}
#globalContainer {
	width: 778px !important;
}
#AjaxLoadIcon {
	width: 80px !important;
	position: fixed !important;
	height: 80px !important;
	top: 100px !important;
	left: 350px !important;
}
.MonsterListBackground {
	background-image: url("http://image4.castleagegame.com/graphics/monsterlist_container.gif");
	background-repeat: no-repeat;
	height: 90px;
	padding-bottom: 15px;
}
.MonsterListButton {
	float: left;
	width: 200px;
	text-align: center;
	padding-top: 20px;
}
.MonsterListName {
	float: left;
	text-align: center;
	color: black;
	padding-left: 35px;
	width: 240px;
	padding-top: 15px;
}
.MonsterListImage {
	float: left;
	padding: 15px 0 0 33px;
	overflow: hidden;
}
.MonsterListText {
	position: relative;
	top: -18px;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 2px black;
	left: 5px;
}
.GuildList {
	height: 105px !important;
	padding: 3px 0px 5px 20px !important;
	background-image: url('http://image4.castleagegame.com/5725/graphics/guild_monster/guild_battle_bg.jpg');
	border-bottom: 3px groove #AAA;
	background-repeat: no-repeat;
	background-position: 0 -8px;
	font-size: 13px;
}
.GuildNum {
	color: white;
	position: relative;
	top: -100px;
	left: 6px;
	text-shadow: 0 0 1px black, 0 0 4px black;
	font-weight: bold;
}
.cageResults {
	position: fixed;
	top: 100px;
	box-shadow: 0 0 3px 1px #800, 0 5px 20px black;
	z-index: 2;
	border-radius: 6px;
	padding: 5px;
	background-image: url('http://image4.castleagegame.com/5725/graphics/bg_main_middle.jpg');
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 700px;
	left: 10px;
	width: 750px;
}
#cageCloseResult {
	float: right;
	position: relative;
	cursor: pointer;
}
#MonsterResultDamage {
	float: left;
	width: 350px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
}

