#cageGeneralContainer {
	position: fixed;
	width: 770px;
}
#cageGeneralImageContainer {
	height: 94px;
	width: 94px;
	position: absolute;
	right: 9px;
	z-index: 4;
	margin: 1px;
}
#cageGeneralImage {
	height: 94px;
	cursor: pointer;
	box-shadow: -3px 0px 5px #000;
	z-index: 2;
}
#cageGeneralSelector {
	position: fixed;
	box-shadow: 0 10px 20px black;
	z-index: 3;
	width: 702px;
	margin-left: 10px;
	padding: 40px 25px 5px 22px;
	top: 110px;
	display: none;
}
#cageSelectorInfo {
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	display: block;
	text-align: center;
	margin: -10px 0 5px 0;
	line-height: 20px;
}
#cageAllGenerals {
	padding-bottom: 10px;
}
#cageAllGenerals > div {
	margin: 1px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid transparent;
	height: 50px;
}
#cageAllGenerals > div:hover {
	border: 1px solid #26B3F7 !important;
}
#cageAllGenerals > div > img:first-child {
	width: 50px;
	cursor: pointer;
	border-radius: 4px;
}
#cageAllGenerals > div > img:last-of-type {
	position: relative;
	margin-left: -16px;
	width: 10px;
	cursor: pointer;
	background-color: black;
	padding: 3px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	opacity: 0.7;
}
#cageFavouriteGenerals {
	padding: 4px 0 2px
}
#cageFavouriteGenerals > div {
	margin: 4px;
	display: inline-block;
	box-shadow: 0 0 5px 2px #1482D2;
	border-radius: 5px;
	height: 70px;
}
#cageFavouriteGenerals > div:hover {
	box-shadow: 0 0 10px 2px #26b3f7
}
#cageFavouriteGenerals > div > img:first-child:hover {
	box-shadow: 0 0 10px 2px #26b3f7
}
#cageFavouriteGenerals > div > img:first-child {
	width: 70px;
	cursor: pointer;
	border-radius: 4px;
}
#cageFavouriteGenerals > div > img:last-of-type {
	position: relative;
	margin-left: -16px;
	width: 10px;
	cursor: pointer;
	background-color: black;
	padding: 3px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	opacity: 0.7;
}
.cageCharge {
	position: relative;
	border-radius: 6px;
	width: 6px;
	opacity: .8;
	background-color: #26B3F7;
	display: inline-block;
	left: -100%;
	margin-right: -6px;
}
#cageGeneralStats {
	z-index: -1;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	background: #000;
	width: 150px;
	box-shadow: -2px 0px 8px #000;
	border-bottom-left-radius: 6px;
}
#cageGeneralName {
	position: relative;
	top: 1px;
	color: #fff;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	width: 150px;
	font-size: 12px;
}
#cageGeneralAttack, #cageGeneralDefense {
	position: absolute;
	width: 25px;
	z-index: 3;
	top: 71px;
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 4px #000;
	cursor: pointer;
	opacity: 0;
	font-size: 14px;
}
#cageGeneralAttack {
	left: 1px;
}
#cageGeneralDefense {
	left: 68px;
}
#cageGeneralAttImg, #cageGeneralDefImg {
	height: 25px;
	top: 67px;
	position: absolute;
	border-radius: 50px;
	opacity: 0;
	cursor: pointer;
}
#cageGeneralAttImg {
	left: 1px;
	box-shadow: 0px 0px 15px #f00;
}
#cageGeneralDefImg {
	left: 68px;
	box-shadow: 0px 0px 15px #cc0;
}
#cageGeneralText {
	position: relative;
	color: white;
	width: 134px;
	padding: 5px;
}
#cageGeneralImageCharge {
	width: 100%;
	background-color: #4F4;
	height: 5px;
	left: 0;
	position: absolute;
	border-radius: 0;
	display: inline-block;
}
