#cageGeneralContainer {
	position: fixed;
	width: 770px;
}
#cageGeneralImageContainer {
	height: 92px;
	width: 92px;
	position: absolute;
	right: 8px;
	z-index: 3;
	top: 2px;
	border: 1px solid black;
	overflow: hidden;
	background-image: url('http://image4.castleagegame.com/graphics/marble.jpg');
}
#cageGeneralImage {
	height: 92px;
	cursor: pointer;
}
#cageGeneralSelector {
	position: fixed;
	box-shadow: 0 10px 20px black;
	z-index: 3;
	width: 702px;
	margin-left: 10px;
	padding: 40px 25px 5px 22px;
	top: 110px;
	display: none;
}
#cageSelectorInfo {
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	display: block;
	text-align: center;
	margin: -10px 0 5px 0;
	line-height: 20px;
}
#cageAllGenerals {
	padding-bottom: 10px
}
#cageAllGenerals > div {
	margin: 1px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid transparent;
	height: 50px;
}
#cageAllGenerals > div:hover {
	border: 1px solid #26B3F7 !important;
}
#cageAllGenerals > div > img:first-child {
	width: 50px;
	cursor: pointer;
	border-radius: 4px;
}
#cageAllGenerals > div > img:last-of-type {
	position: relative;
	margin-left: -16px;
	width: 10px;
	cursor: pointer;
	background-color: black;
	padding: 3px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	opacity: 0.7;
}
#cageFavouriteGenerals {
	padding: 4px 0 2px
}
#cageFavouriteGenerals > div {
	margin: 4px;
	display: inline-block;
	box-shadow: 0 0 5px 2px #1482D2;
	border-radius: 5px;
	height: 70px;
}
#cageFavouriteGenerals > div:hover {
	box-shadow: 0 0 10px 2px #26b3f7
}
#cageFavouriteGenerals > div > img:first-child:hover {
	box-shadow: 0 0 10px 2px #26b3f7
}
#cageFavouriteGenerals > div > img:first-child {
	width: 70px;
	cursor: pointer;
	border-radius: 4px;
}
#cageFavouriteGenerals > div > img:last-of-type {
	position: relative;
	margin-left: -16px;
	width: 10px;
	cursor: pointer;
	background-color: black;
	padding: 3px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	opacity: 0.7;
}
.cageCharge {
	position: relative;
	border-radius: 6px;
	width: 6px;
	opacity: .8;
	background-color: #26B3F7;
	display: inline-block;
	left: -100%;
	margin-right: -6px;
}
#cageGeneralName {
	width: 107px;
	position: absolute;
	z-index: 3;
	top: 3px;
	right: 103px;
	color: white;
	background: black;
	height: 16px;
	padding: 1px;
	opacity: 0.8;
	white-space: nowrap;
	text-align: center;
	border-bottom-left-radius: 4px;
}
#cageGeneralAttImg {
	z-index: 9;
	height: 16px;
	position: absolute;
	top: 36px;
	right: 107px;
	z-index: 4;
	width: 16px;
}
#cageGeneralAttack {
	width: 24px;
	position: absolute;
	z-index: 3;
	top: 21px;
	right: 103px;
	color: white;
	background: black;
	height: 19px;
	opacity: 0.75;
	text-align: center;
	padding-bottom: 18px;
}
#cageGeneralDefImg {
	z-index: 9;
	height: 16px;
	position: absolute;
	top: 59px;
	right: 107px;
	width: 16px;
}
#cageGeneralDefense {
	width: 24px;
	position: absolute;
	z-index: 3;
	top: 58px;
	right: 103px;
	color: white;
	background: black;
	height: 19px;
	opacity: 0.75;
	text-align: center;
	padding-top: 18px;
}
