/*
 * index.php
 */
#cageBattleNews {
	background-image: url('http://image4.castleagegame.com/graphics/battle_news_wide.jpg');
	position: relative;
	height: 191px;
	margin-left: 1px;
	width: 720px;
	padding: 33px 0 0 17px;
	background-size: 737px 224px;
}

#cagePageKeepNemesisImg {
	bottom: 20px;
	position: absolute;
	right: 20px;
	cursor: pointer;
	background-image: url('http://image4.castleagegame.com/graphics/map_monster_back.jpg');
	height: 98px;
	width: 281px;
	background-size: 281px 98px;
	padding: 0px;
	border-radius: 4px;
}

#cagePageKeepNemesisImg>div:first-child {
	margin: 8px 0 0 10px;
	width: 96px;
	height: 81px;
	background-position: 50% 5%;
	border-radius: 2px;
	box-shadow: 0 0 10px #f00 inset;
}

#cagePageKeepNemesisImg>div:last-child {
	position: absolute;
	top: 10px;
	left: 148px;
}

#cagePageKeepNemesisImg strong {
	display: inline-block;
	width: 60px;
	padding-left: 5px;
}
/*
 * guildv2_conquest_command.php
 */
.cageConqKeepListLabel {
	cursor: pointer;
	position: absolute;
	top: 96px;
	font-size: 10px;
	padding: 0px 0px 5px 11px;
	background: #000;
	left: 6px;
	width: 94px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	opacity: 0.7;
	font-weight: bold;
}
/*
 * Quests
 */
img.cageQuestSanoSwitch {
	position: absolute;
	cursor: pointer;
	height: 31px;
	border-radius: 5px;
	margin-left: -35px;
	border: 1px outset;
	opacity: 0.8;
}

img.cageQuestSanoSwitch:hover {
	border: 1px inset;
	opacity: 1;
}

img.cageQuestPic {
	height: 60px;
	width: 98px;
	border-radius: 5px;
}

/*
 * Oracle
 */
#cageOracleGeneral {
	
}

#cageOracleEq1 {
	
}

#cageOracleEq2 {
	
}

#cageOracleEq3 {
	
}

.cageOracleItem {
	position: relative;
	width: 160px;
	height: 329px;
	float: left;
	margin-left: 3px;
	opacity: 0.9;
}

.cageOracleItem>div:first-of-type {
	text-align: center;
	height: 15px;
	font-size: 12px;
	padding-top: 4px;
}

.cageOracleItem>div:nth-of-type(2) {
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}

.cageOracleItem>div:nth-of-type(3) {
	padding: 2px;
	font-size: 11px;
	width: 152px;
	text-align: center;
	height: 40px;
	overflow: hidden;
}

.cageOracleItem>div:nth-of-type(4) {
	padding: 9px 0 0 45px;
}

.cageOracleItem>div:nth-of-type(5) {
	padding: 15px 0 0 45px;
}

.cageOracleItem>img:first-of-type {
	width: 148px;
	height: 148px;
	border: 2px inset #D0B682;
	margin: 3px;
}

.cageOracleItem>img:last-of-type {
	padding: 11px 0 0 57px;
	cursor: pointer;
}

#cageOracleGeneralSelectorContainer {
	background-image: url('http://image4.castleagegame.com/graphics/oracle_back_four.jpg');
	width: 664px;
	padding: 36px 33px 0 33px;
	margin-left: 5px;
	height: 103px;
	position: relative;
}

#cageOracleSelected {
	background-image: url('http://image4.castleagegame.com/graphics/oracle_back_four.jpg');
	width: 693px;
	padding: 0px 0 0 38px;
	margin-left: 5px;
	height: 363px;
	position: relative;
	background-position: 0 -38px;
}

#cageOracleGeneralSelector {
	width: 648px;
	border: 2px inset #D0B682;
	margin-left: 7px;
	overflow-y: hidden;
	overflow-x: scroll;
	height: 97px;
	background: #000;
}

#cageOracleGeneralSelector>div {
	height: 80px;
	white-space: nowrap;
}

#cageOracleGeneralSelector>div>span {
	margin-right: 2px;
}

#cageOracleGeneralSelector>div>span>span {
	position: relative;
	bottom: 2px;
	text-align: center;
	color: #fff;
	background: #000;
	opacity: 0.75;
	font-size: 10px;
	left: -80px;
	width: 80px;
	display: inline-block;
	margin-right: -80px;
}

#cageOracleGeneralSelector img:first-of-type {
	height: 80px;
	opacity: 0.8;
	cursor: pointer;
}

#cageOracleGeneralSelector img:first-of-type:hover {
	opacity: 1;
}

#cageOracleGeneralSort {
	cursor: pointer;
	position: absolute;
	background: #000;
	opacity: 0.8;
	padding: 2px 4px 2px 4px;
	font-size: 11px;
	color: #fff;
	margin: -18px 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/*
 * guildv2_formation
 */
div.cageMemberList {
	background-image: url(http://image4.castleagegame.com/graphics/guild_feed_rightsubmiddle.gif);
	background-size: 170px 12px;
}

div.cageMemberListFooter {
	background-image: url(http://image4.castleagegame.com/graphics/guild_feed_rightbottom.gif);
	width: 170px;
	height: 22px;
	background-size: 170px 11px;
}

div.cageMemberListFooter>img {
	width: 170px;
	height: 11px;
}

div.cageGuildMember {
	color: #fff;
	width: 148px;
	border-radius: 5px;
	cursor: move;
	margin: 0 11px;
}

div.cageGuildMember:hover {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

div.cageGuildMemberPlaceHolder {
	width: 146px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0 11px;
	border: 1px ridge;
}

div.cageGuildMember>img {
	height: 20px;
	position: absolute
}

div.cageGuildMember>span {
	line-height: 20px;
	margin-left: 23px;
}

#cageFreeMembers {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 4px;
	position: relative;
	margin: -18px 0 0px 34px;
	width: 663px;
	border: 1px inset;
	min-height: 22px;
}

#cageFreeMembers>div {
	display: inline-block;
	vertical-align: top;
	margin-right: 0;
}

/*
 * Goblin
 */
#cageHideLockedLabel {
	position: absolute;
	margin-left: 31px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

#cageHideUnlockedLabel {
	position: absolute;
	margin-left: 220px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

#cageHideUnlocked,#cageHideLocked {
	position: absolute;
	margin-left: -16px;
	cursor: pointer;
	margin-top: 2px;
}

button.cageGoblinLocked {
	margin-left: 8px;
	border-radius: 0;
	padding: 3px;
	width: 19px !important;
	border-bottom-right-radius: 4px;
	position: absolute;
	margin: 0 0 0 -30px;
}

div.cageGoblinItemGout {
	width: 75px !important;
	cursor: default !important;
}

div.cageGoblinItemGout div:nth-of-type(2) {
	margin-top: -20px !important;
	right: 9px !important;
}

div.cageGoblinItemGin {
	
}

div.cageGoblinItemGin div:nth-of-type(2) {
	margin-top: -25px !important;
	right: 7px !important;
	font-size: 11px !important;
}
/*
 * Army
 */
button.cageArmyEdit {
	float: left;
	border-radius: 5px;
	color: #FBFBF1;
	font-weight: bold;
	height: 35px;
	font-size: 17px;
	cursor: pointer;
	font-family: 'Times New Roman', Times, serif;
	background-image: url('http://image4.castleagegame.com/graphics/invite_page_03.jpg');
	text-shadow: 2px 2px black;
	border-color: #DFCB96;
	margin: 0 5px;
	position: relative;
}

button.cageArmyEdit>span {
	font-size: 14px;
}
/*
 *  Alchemy.php
 */
#cageItemsStatus {
	position: absolute;
	z-index: 1;
	margin-top: -17px;
	padding-top: 3px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 716px;
	text-align: center;
	height: 19px;
	left: 27px;
}

.cageAlchemyButtons {
	position: relative;
	cursor: pointer;
	font-size: 12px;
	line-height: 11px;
	display: inline-block;
	margin-right: 25px;
}

.cageAlchemyButtons>img {
	border-radius: 4px;
	height: 16px;
}

.cageAlchemyButtons>span:first-of-type {
	position: absolute;
	left: 3px;
	top: 2px;
	font-weight: bold;
	color: #000;
}

.cageAlchemyButtons>span:last-of-type {
	top: -4px;
	position: relative;
	font-weight: bold;
	left: 4px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

.cagePinnedItems {
	display: block !important;
}

.cagePinItem {
	position: absolute;
	top: 9px;
	right: 43px;
	border-radius: 4px;
	background-color: #444;
	width: 20px !important;
	height: 20px !important;
	cursor: pointer;
}

.cageHideItem {
	position: absolute;
	top: 31px;
	right: 43px;
	border-radius: 4px;
	background-color: #444;
	width: 20px !important;
	height: 20px !important;
	cursor: pointer;
}

.cageForceHidden {
	display: none !important;
	visibilty: hidden !important;
}

div.cageAlchemyContainer {
	background-image: url('http://image4.castleagegame.com/graphics/alchfb_midrepeat.jpg');
	width: 740px;
	height: 110px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	color: black;
	position: relative;
}

div.cageAlchemyContainerBlank {
	background-image: url('http://image4.castleagegame.com/graphics/alchfb_midrepeat_blank.jpg');
	width: 740px;
	height: 110px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	color: black;
	position: relative;
}
/*
 * Keep
 */
.cageUnitStats {
	position: absolute;
	top: 100%;
	margin-top: -3px;
	z-index: -1;
}

.cageUnitStats>div {
	background: #fff;
	color: #000;
	font-size: 10px;
	padding: 8px 6px 4px 6px;
	text-align: left;
	border-radius: 6px;
	border-top-left-radius: 0;
	white-space: nowrap;
	box-shadow: 1px 1px 3px #000;
}
/*
* 
*/
#cageConquestBattleFilterContainer {
	background-image: url('http://image4.castleagegame.com/20843/graphics/conq2_insideland_midrepeat.jpg');
	width: 740px;
	position: relative;
	top: -10px;
	margin-bottom: -10px;
	height: 57px;
}

#cageConquestBattleFilter {
	height: 30px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 5px 5px #000;
	padding: 0 11px 0 4px;
	position: relative;
	width: 450px;
	margin-left: 140px;
}

#cageGateClassFilter,#cageGateStatusFilter,#cageGatePointsFilter {
	color: #fff;
	height: 25px;
	border: 1px solid #444444;
	background-color: #222;
	position: relative;
	top: 3px;
	left: 9px;
	float: left;
}
/*
* Gift
*/
#giftsContent {
	background-image: url(http://image4.castleagegame.com/graphics/keep_tabsubheader_mid.jpg);
	padding: 0 55px 40px;
}

.cageGifterButton {
	border-radius: 5px;
	color: #FBFBF1;
	font-weight: bold;
	width: 200px;
	height: 35px;
	font-size: 18px;
	cursor: pointer;
	font-family: 'Times New Roman', Times, serif;
	background-image: url('http://image4.castleagegame.com/graphics/invite_page_03.jpg');
	text-shadow: 2px 2px black;
	border-color: #DFCB96;
	float: left;
	margin-top: 3px;
	margin-right: 7px;
}

.cageGifterButton>span {
	font-size: 15px;
}

#giftsRTF {
	margin-top: 18px;
	margin-bottom: -39px;
}

.cageRTFGift {
	background-image: url('http://image4.castleagegame.com/graphics/essencebox.gif');
	width: 623px;
	margin-left: -13px;
	height: 91px;
	color: #fff;
	padding: 17px;
	background-repeat: no-repeat;
}

.cageRTFGiftImgContainer {
	height: 80px;
	width: 329px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px inset;
	padding: 3px;
	border-radius: 5px 0 0 5px;
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
}

.cageRTFGiftImg {
	border-radius: 5px;
	border: 1px #000 solid;
	margin-right: 2px;
	height: 35px;
}

.cageRTFGiftPic {
	height: 86px;
	border: 1px inset;
	border-radius: 0 5px 5px 0;
}