/*
 * index.php
 */
#cageBattleNews {
	background-image: url('http://image4.castleagegame.com/10009/graphics/battle_news_wide.jpg');
	position: relative;
	height: 184px;
	margin-left: 1px;
	width: 722px;
	padding: 40px 0 0 17px;
	background-size: 737px 224px;
}
#cagePageKeepNemesisImg {
	bottom: 20px;
	position: absolute;
	right: 20px;
	cursor: pointer;
	background-image: url('http://image4.castleagegame.com/graphics/map_monster_back.jpg');
	height: 98px;
	width: 281px;
	background-size: 281px 98px;
	padding: 0px;
	border-radius: 4px;
}
#cagePageKeepNemesisImg > div:first-child {
	margin: 8px 0 0 10px;
	width: 96px;
	height: 81px;
	background-position: 50% 5%;
	border-radius: 2px;
	box-shadow: 0 0 10px #f00 inset;
}
#cagePageKeepNemesisImg > div:last-child {
	position: absolute;
	top: 10px;
	left: 148px;
}
#cagePageKeepNemesisImg strong {
	display: inline-block;
	width: 60px;
	padding-left: 5px;
}
/*
 * guildv2_conquest_command.php
 */
.cageConqKeepListLabel {
	cursor: pointer;
	position: absolute;
	top: 96px;
	font-size: 10px;
	padding: 0px 0px 5px 11px;
	background: #000;
	left: 6px;
	width: 94px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	opacity: 0.7;
	font-weight: bold;
}
/*
 * Quests
 */
img.cageQuestSanoSwitch {
	position: absolute;
	cursor: pointer;
	height: 31px;
	border-radius: 5px;
	margin-left: -35px;
	border: 1px outset;
	opacity: 0.8;
}
img.cageQuestSanoSwitch:hover {
	border: 1px inset;
	opacity: 1;
}
img.cageQuestPic {
	height: 60px;
	width: 98px;
	border-radius: 5px;
}
/*
 * Guild profile pics link
 */
.cageGuildProfileLink {
	cursor: pointer;
	opacity: 0.8;
}
.cageGuildProfileLink:hover {
	opacity: 1;
}
/*
 * Oracle
 */
#cageOracleGeneral {
}
#cageOracleEq1 {
}
#cageOracleEq2 {
}
#cageOracleEq3 {
}
.cageOracleItem {
	position: relative;
	width: 160px;
	height: 329px;
	float: left;
	margin-left: 3px;
	opacity: 0.9;
}
.cageOracleItem > div:first-of-type {
	text-align: center;
	height: 15px;
	font-size: 12px;
	padding-top: 4px;
}
.cageOracleItem > div:nth-of-type(2) {
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}
.cageOracleItem > div:nth-of-type(3) {
	padding: 2px;
	font-size: 11px;
	width: 152px;
	text-align: center;
	height: 40px;
	overflow: hidden;
}
.cageOracleItem > div:nth-of-type(4) {
	padding: 9px 0 0 45px;
}
.cageOracleItem > div:nth-of-type(5) {
	padding: 15px 0 0 45px;
}
.cageOracleItem > img:first-of-type {
	width: 148px;
	height: 148px;
	border: 2px inset #D0B682;
	margin: 3px;
}
.cageOracleItem > img:last-of-type {
	padding: 11px 0 0 57px;
	cursor: pointer;
}
#cageOracleGeneralSelectorContainer {
	background-image: url('http://image4.castleagegame.com/graphics/oracle_back_four.jpg');
	width: 664px;
	padding: 36px 33px 0 33px;
	margin-left: 5px;
	height: 103px;
	position: relative;
}
#cageOracleSelected {
	background-image: url('http://image4.castleagegame.com/graphics/oracle_back_four.jpg');
	width: 693px;
	padding: 0px 0 0 38px;
	margin-left: 5px;
	height: 363px;
	position: relative;
	background-position: 0 -38px;
}
#cageOracleGeneralSelector {
	width: 648px;
	border: 2px inset #D0B682;
	margin-left: 7px;
	overflow-y: hidden;
	overflow-x: scroll;
	height: 97px;
	background: #000;
}
#cageOracleGeneralSelector > div {
	height: 80px;
	white-space: nowrap;
}
#cageOracleGeneralSelector > div > span {
	margin-right: 2px;
}
#cageOracleGeneralSelector > div > span > span {
	position: relative;
	bottom: 2px;
	text-align: center;
	color: #fff;
	background: #000;
	opacity: 0.75;
	font-size: 10px;
	left: -80px;
	width: 80px;
	display: inline-block;
	margin-right: -80px;
}
#cageOracleGeneralSelector img:first-of-type {
	height: 80px;
	opacity: 0.8;
	cursor: pointer;
}
#cageOracleGeneralSelector img:first-of-type:hover {
	opacity: 1;
}
#cageOracleGeneralSort {
	cursor: pointer;
	position: absolute;
	background: #000;
	opacity: 0.8;
	padding: 2px 4px 2px 4px;
	font-size: 11px;
	color: #fff;
	margin: -18px 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/*
 * guildv2_formation
 */
div.cageMemberList {
	background-image: url(http://image4.castleagegame.com/graphics/guild_feed_rightsubmiddle.gif);
	background-size: 170px 12px;
}
div.cageMemberListFooter {
	background-image: url(http://image4.castleagegame.com/graphics/guild_feed_rightbottom.gif);
	width: 170px;
	height: 22px;
	background-size: 170px 11px;
}
div.cageMemberListFooter > img {
	width: 170px;
	height: 11px;
}
div.cageGuildMember {
	color: #fff;
	width: 148px;
	border-radius: 5px;
	cursor: move;
	margin: 0 11px;
}
div.cageGuildMember:hover {
	background-color: rgba(0,0,0,0.7);
	color: #fff;
}
div.cageGuildMemberPlaceHolder {
	width: 146px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.3);
	margin: 0 11px;
	border: 1px ridge;
}
div.cageGuildMember > img {
	height: 20px;
	position: absolute
}
div.cageGuildMember > span {
	line-height: 20px;
	margin-left: 23px;
}
/*
 * Goblin
 */
#cageHideLockedLabel {
	position: absolute;
	margin-left: 31px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
#cageHideLocked {
	position: absolute;
	margin-left: -16px;
	cursor: pointer;
	margin-top: 2px;
}
#cageHideUnlockedLabel {
	position: absolute;
	margin-left: 220px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
#cageHideUnlocked {
	position: absolute;
	margin-left: -16px;
	cursor: pointer;
	margin-top: 2px;
}
button.cageGoblinLocked {
	position: absolute;
	margin-left: 8px;
	border-radius: 0;
	margin-top: 0px;
	padding: 3px;
	width: 19px !important;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
}
div.cageGoblinItemGout {
	width: 75px !important;
	cursor: default !important;
}
div.cageGoblinItemGout div:nth-of-type(2) {
	margin-top: -20px !important;
	right: 9px !important;
}
div.cageGoblinItemGin {
}
div.cageGoblinItemGin div:nth-of-type(2) {
	margin-top: -25px !important;
	right: 7px !important;
	font-size: 11px !important;
}
/*
 * Army
 */
button.cageArmyEdit {
	float: left;
	border-radius: 5px;
	color: #FBFBF1;
	font-weight: bold;
	height: 35px;
	font-size: 17px;
	cursor: pointer;
	font-family: 'Times New Roman', Times, serif;
	background-image: url('http://image4.castleagegame.com/graphics/invite_page_03.jpg');
	text-shadow: 2px 2px black;
	border-color: #DFCB96;
	margin: 0 5px;
	position: relative;
}
button.cageArmyEdit > span {
	font-size: 14px;
}
/*
 *  Alchemy.php
 */
.recipetitle {
	margin: 1px;
}
.alchemyRecipeBackMonster {
	height: auto !important;
	margin-bottom: 10px;
}
.alchemyRecipeBackMonster_inc {
	padding: 1px 6px 6px 20px !important;
}
.alchemyRecipeBack {
	height: auto !important;
	margin-bottom: 10px;
}
.alchemyRecipeBack_inc {
	padding: 1px 6px 6px 20px !important;
}
.alchemyRecipeBackClass {
	height: auto !important;
	margin-bottom: 10px;
}
.alchemyRecipeBackClass_inc {
	padding: 1px 6px 6px 20px !important;
}
.alchemyQuestBack {
	height: auto !important;
	margin-bottom: 10px;
}
.alchemyQuestBack_inc {
	padding: 1px 6px 6px 20px !important;
}
#cageHideRecipe {
	margin-left: 220px;
}
#cageShowMarked {
	margin-left: 445px;
}
div.cagePinItem {
	position: absolute;
	cursor: pointer;
	right: 74px;
	margin-top: 25px;
}
#cageHideRecipe, #cageShowMarked {
	position: absolute;
	cursor: pointer;
	margin-top: -20px;
}
#cageHideRecipe > img, #cageShowMarked > img, div.cagePinItem > img {
	border-radius: 4px;
	height: 21px;
}
#cageHideRecipe > span:first-of-type, #cageShowMarked > span:first-of-type, div.cagePinItem > span:first-of-type {
	position: absolute;
	left: 5px;
	top: 2px;
	font-weight: bold;
}
#cageHideRecipe > span:last-of-type, #cageShowMarked > span:last-of-type, div.cagePinItem > span:last-of-type {
	top: -5px;
	position: relative;
	font-weight: bold;
	left: 4px;
	color: #000;
}
div.cageHideIncomplete {
	display: none !important;
}
div.cageHidePinnedItem {
	display: none !important;
}
div.cagePinedItemContainer {
	display: block;
	box-shadow: 0 5px 10px #000;
	border-radius: 15;
	border: 1px outset;
	position: relative;
}
div.cagePinedItemContainer div.cagePinItem {
	right: 32px;
}
div.recipeImgContainer, div.recipeImgContainer img, div.ingredientUnit img {
	border-radius: 6px;
}
#recipe_list div.imgButton, #cagePinnedItems div.imgButton {
	margin-top: 30px
}
#recipe_list div.imgButton > input, #cagePinnedItems div.imgButton > input {
	height: 50px;
}
div.ingredientUnit {
	width: 60px;
	position: relative;
}
div.ingredientUnit > div:first-child {
	width: 60px
}
div.ingredientUnit div:nth-of-type(2) {
	background-color: rgba(0,0,0,0.7);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	color: white;
	float: right;
	font-size: 11px;
	padding: 1px 5px;
	text-align: right;
	position: absolute;
	margin-top: -15px;
	right: 2px;
}
.alchemyItemNum2 {
	background-color: rgba(0,0,0,0.7);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	color: white;
	float: right;
	font-size: 11px;
	padding: 1px 5px;
	text-align: right;
	margin-top: -15px;
	margin-right: 5px;
	z-index: 25;
	position: relative;
}
/*
 * Keep
 */
.cageUnitStats {
	position: absolute;
	top: 100%;
	margin-top: -3px;
	z-index: -1;
}
.cageUnitStats > div {
	background: #fff;
	color: #000;
	font-size: 10px;
	padding: 8px 6px 4px 6px;
	text-align: left;
	border-radius: 6px;
	border-top-left-radius: 0;
	white-space: nowrap;
	box-shadow: 1px 1px 3px #000;
}