/*
 * index.php
 */
#cagePageKeepNemesisImg {
    bottom: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    background-image: url('http://image4.castleagegame.com/graphics/map_monster_back.jpg');
    height: 98px;
    width: 281px;
    background-size: 281px 98px;
    padding: 0px;
    border-radius: 4px;
}
#cagePageKeepNemesisImg > div:first-child {
    margin: 8px 0 0 10px;
    width: 96px;
    height: 81px;
    background-position: 50%;
    border-radius: 2px;
    box-shadow: 0 0 10px #f00 inset;
}
#cagePageKeepNemesisImg > div:last-child {
    position: absolute;
    top: 10px;
    left: 148px;
}
#cagePageKeepNemesisImg strong {
    display: inline-block;
    width: 60px;
    padding-left: 5px;
}
/*
 * guildv2_conquest_command.php
 */
.cageConqKeepListLabel {
    cursor: pointer;
    position: absolute;
    top: 96px;
    font-size: 10px;
    padding: 0px 0px 5px 11px;
    background: #000;
    left: 6px;
    width: 94px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0.7;
    font-weight: bold;
}