#cageContainer {
	font-size: 11px;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

#cageToolsContainer {
	white-space: nowrap;
	position: fixed;
	top: 139px;
	height: 22px;
	width: 748px;
	margin-left: 10px;
	z-index: 1;
	box-shadow: 0 10px 20px black;
}

button.cageToolButton {
	width: 178px;
	margin: 0;
	height: 23px;
	cursor: pointer;
	text-align: left;
}

button.cageToolButton:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

button.cageToolButton:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#cageLogo {
	position: absolute;
	top: 6px;
	left: 6px;
}

.cageToolButton>span:last-of-type {
	padding: 0 0 1px 26px !important;
}

#cageMenu {
	white-space: nowrap;
	position: fixed;
	height: 28px;
	z-index: 4;
	box-shadow: 0 10px 55px black;
	top: 96px;
	width: 753px;
	font-size: 12px;
	margin-left: 8px;
}

#cageMenu ul,#cageMenu ul li {
	list-style: none;
	padding: 0;
}

#cageMenu>ul {
	position: relative;
	top: -13px;
}

#cageMenu>ul>li {
	display: inline-block;
}

#cageMenu button {
	margin: 0;
	height: 30px;
}

.cageSubMenu {
	display: none;
	position: absolute;
	text-align: left;
}

.cageSubMenu button {
	width: 100%;
	min-width: 100px;
	text-align: left;
	box-shadow: 0 10px 20px black;
}

#cageSettingContainer {
	top: 260px;
	position: fixed;
	width: 204px;
	padding: 3px 3px 3px 0;
	width: 150px;
}

#cageThemeSelector {
	width: 99%;
}

#cageThemeSelector-button {
	font-size: 12px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#cageThemeSelector-menu {
	font-size: 12px;
}

#cageAbilitiesContainer {
	position: fixed;
	display: block;
	box-shadow: black 0px 10px 20px;
	z-index: 2;
	cursor: default;
	margin-left: 65px;
	border-radius: 35px;
}
/* Guild */
.cageGateFilterTitle {
	position: relative !important;
	left: 11px;
	top: 3px;
	float: left;
	font-size: 12px;
	height: 15px;
	padding: 4px !important;
}

#cageGateClassFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 90px !important;
	height: 23px;
}

#cageGateClassFilter-menu {
	font-size: 12px;
	width: 90px !important;
}

#cageGateActivityFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 80px !important;
	height: 23px;
}

#cageGateActivityFilter-menu {
	font-size: 12px;
	width: 80px !important;
}

#cageGateStatusFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 100px !important;
	height: 23px;
}

#cageGateStatusFilter-menu {
	font-size: 12px;
	width: 100px !important;
}

#cageAssists {
	font-weight: bold;
	margin-left: 10px;
	padding: 10px;
	background-color: #C6A56F;
	color: black;
	cursor: pointer;
	height: 15px;
	width: 100px;
	text-align: center;
	float: left;
	margin: 0 0 0 25px;
}

.cageAssisterList {
	background-image: url('http://image4.castleagegame.com/graphics/newsfeed_back.jpg');
	background-repeat: no-repeat;
	margin: 0 0 13px 25px;
	height: 174px;
	cursor: pointer;
}

.cageAssisterList:hover {
	background-image: url('http://image4.castleagegame.com/graphics/newsfeed_back_h.jpg');
}

.cageAssisterListImage {
	position: relative;
	left: 45px;
	top: 38px;
	height: 90px;
}

.cageAssisterListName {
	position: relative;
	left: 150px;
	top: -50px;
}

.cageAssisterListValues {
	position: relative;
	left: 150px;
	top: -50px;
}

#cageDemiContainer {
	position: fixed;
	width: 540px;
	box-shadow: black 0px 10px 20px;
	z-index: 1;
	cursor: default;
	height: 128px;
	padding-top: 8px;
	padding-left: 18px;
	margin-left: 105px;
	top: -500px;
	display: none;
}

#cageDemiContainer>div {
	padding-top: 22px;
	padding-right: 18px;
	display: inline-block;
}

#cageDemiContainer img {
	height: 90px;
	border-radius: 15px;
}

.cageDemiImage {
	width: 90px;
	height: 90px;
	position: relative;
	background-position: -48px 0;
	cursor: pointer;
	opacity: 0.7;
	border-radius: 10px;
}

.cageDemiImage:hover {
	opacity: 1;
}

#cageDemienergy:hover {
	box-shadow: 0 0 20px 5px #43936e;
}

#cageDemistamina:hover {
	box-shadow: 0 0 20px 5px #496a79;
}

#cageDemihealth:hover {
	box-shadow: 0 0 20px 5px #1ac176;
}

#cageDemiattack:hover {
	box-shadow: 0 0 20px 5px #cea640;
}

#cageDemidefense:hover {
	box-shadow: 0 0 20px 5px #40a0a0;
}

#cageDemiContainer span {
	display: block;
	position: relative;
	left: 13px;
	top: 50px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: black;
	width: 60px;
	opacity: 0.8;
	border-bottom-right-radius: 10px;
	padding: 2px;
	border-top-left-radius: 10px;
}

.cageDemiResult {
	font-size: 12px;
	top: 100px;
}

.ui-widget {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px !important;
}

#cageSummonCTA {
	cursor: pointer;
	height: 15px;
	margin: -2px 0 -4px -4px;
	border-radius: 5px;
	display: inline-block;
	border: 1px outset;
	padding: 1px 3px 0 1px;
	font-size: 11px;
	color: #fff;
	background-color: #600;
	text-decoration: none;
	width: 60px;
	text-align: center;
}

#cageSummonCTA:hover {
	background-color: #c00;
}

#cageSummonCTA:active {
	background-color: #F00;
	border: 1px inset;
}
/*
 * Player monster list
 */
.cageTowerImage {
	position: relative;
	margin: 20px;
	border-radius: 6px;
	top: 10px;
	box-shadow: 0 3px 5px #000;
	margin-left: 105px;
}
/*
 *
 */
#cageInfos {
	position: fixed;
	bottom: 15px;
	left: 15px;
	width: 200px;
}

.cageInfo {
	
}
/*
 * Abilities
 */
#cageClassCleric {
	display: none;
	border-radius: 5px;
	padding: 0;
	position: absolute;
	left: 23px;
	top: 13px;
	cursor: pointer;
	height: 36px;
	width: 83px;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectcleric_off.jpg');
	background-size: 83px 36px;
	border: 0;
}

#cageClassCleric:hover {
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectcleric.jpg');
}

#cageClassWarrior {
	display: none;
	border-radius: 5px;
	padding: 0;
	position: absolute;
	left: 23px;
	top: 63px;
	cursor: pointer;
	height: 36px;
	width: 83px;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectwarrior_off.jpg');
	background-size: 83px 36px;
	border: 0;
}

#cageClassWarrior:hover {
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectwarrior.jpg');
}

#cageClassMage {
	display: none;
	border-radius: 5px;
	padding: 0;
	position: absolute;
	right: 23px;
	top: 13px;
	cursor: pointer;
	height: 36px;
	width: 83px;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectmage_off.jpg');
	background-size: 83px 36px;
	border: 0;
}

#cageClassMage:hover {
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectmage.jpg');
}

#cageClassRogue {
	display: none;
	border-radius: 5px;
	padding: 0;
	position: absolute;
	right: 23px;
	top: 63px;
	cursor: pointer;
	height: 36px;
	width: 83px;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectrogue_off.jpg');
	background-size: 83px 36px;
	border: 0;
}

#cageClassRogue:hover {
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectrogue.jpg');
}

.statUnit {
	position: relative;
}

.statUnit img {
	border-radius: 6px;
}

.statUnit img:hover {
	box-shadow: 2px 2px 7px 2px #000;
	height: 85px !important;
	margin: -5px;
}

.statUnit img+div {
	background-color: black;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	color: white;
	float: right;
	font-size: 11px;
	opacity: 0.7;
	padding: 1px 5px;
	text-align: right;
	position: absolute;
	margin-top: -15px;
	right: 2px;
}
/*
 * News
 */
#cageNews {
	
}

#cageNewsHead {
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
}

#cageNewsSubHead {
	padding-bottom: 15px;
	border-bottom: 1px solid #701919;
}

#cageNewsBody {
	padding: 0 0 0 100px;
	border-bottom: 1px solid #701919;
}

#cageNewsFoot {
	text-align: center;
	padding: 10px;
	padding: 5px 30px 0px 40px;
}

#cageNewsChanges {
	left: 65px;
	margin-top: -17px;
	position: relative;
}

#cageNewsChanges span {
	width: 45px;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 2px;
}

#cageNewsChanges li {
	list-style: none;
}
/*
 * Monster stats
 */
#cageMonsterStats {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	padding: 8px;
	color: #fff;
	font-size: 11px;
	border-top-right-radius: 8px;
}

div.cageMonsterActivity {
	position: absolute;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	padding: 8px;
	color: #fff;
	font-size: 11px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
/*
 * Conquest
 */
#cageHealthAction {
	position: absolute;
	background: #000;
	padding: 5px;
	color: #fff;
	width: 170px;
	text-align: center;
	opacity: 0.75;
}
/*
 * Guild class (new)
 */
#cageClassContainer {
	position: fixed;
	box-shadow: black 0px 10px 20px;
	z-index: 1;
	cursor: default;
	margin-left: 65px;
	top: -500px;
	width: 640px;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_power_main.jpg');
	background-size: 640px;
	background-repeat: no-repeat;
	background-position: 0px -156px;
}

#cageClassSelected {
	position: absolute;
	top: 47px;
	margin-left: 10px;
	width: 96px;
	height: 20px;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_selectedplate.gif');
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 0 4px #aaF;
	padding-top: 1px;
}

#cageClassPower {
	padding: 42px 0 6px 0;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_power_main.jpg');
	width: 459px;
	background-position: -101px -4px;
}

.cageClassPowerSlots {
	height: 61px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('http://image4.castleagegame.com/graphics/g_char_power_blank.gif');
	display: inline-block;
}

.cageClassPowerSlot {
	width: 65px;
}

.cageClassPowerSlot>img {
	cursor: pointer;
	float: left;
	opacity: 0;
}

div.cageClassPowerText {
	opacity: 0;
	text-align: left;
	font-size: 12px;
	margin-left: 51px;
	margin-top: 10px;
	width: 300px;
	position: absolute;
	background-color: #000;
	color: #fff;
	padding: 3px 3px 3px 20px;
	border-radius: 7px;
	z-index: -1;
	box-shadow: 0 3px 10px #000;
}

.cageClassPowerSelector {
	background-image: url('http://image4.castleagegame.com/graphics/g_char_power_locked.gif');
	position: absolute;
	z-index: 1;
	top: 153px;
	width: 65px;
	display: none;
}

.cageClassPowerSelector img {
	cursor: pointer;
	width: 65px;
	box-shadow: 0 5px 14px #000;
}

#cageClassSave {
	padding: 10px;
}

#cageClassImgcleric {
	position: absolute;
	top: 1px;
	left: 191px;
	opacity: 0;
	cursor: pointer;
}

#cageClassImgmage {
	position: absolute;
	top: 1px;
	left: 481px;
	opacity: 0;
	cursor: pointer;
}

#cageClassImgrogue {
	left: 336px;
	top: 1px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

#cageClassImgwarrior {
	position: absolute;
	top: 1px;
	left: 46px;
	opacity: 0;
	cursor: pointer;
}
/*
 * pageloader
 */
#cageLoadError {
	position: absolute;
	top: 16px;
	width: 280px;
	left: -103px;
	color: #f00;
	font-size: 24px;
	font-weight: bolder;
	text-shadow: 0 0 5px #000, 0 1px 1px #fff;
	background: #000;
	opacity: 0.8;
	padding: 10px;
	border-radius: 30px;
}

.MonsterListBackground {
	background-image: url('http://image4.castleagegame.com/graphics/monsterlist_container.gif');
	background-repeat: no-repeat;
	height: 90px;
	padding-bottom: 15px;
}

.MonsterListButton {
	float: left;
	text-align: center;
	padding-top: 20px;
}

.MonsterListName {
	float: left;
	text-align: center;
	color: black;
	padding-left: 35px;
	width: 240px;
	margin-right: 32px;
	padding-top: 15px;
}

.MonsterListImage {
	float: left;
	padding: 15px 0 0 33px;
	overflow: hidden;
}

.MonsterListText {
	background-color: black;
	padding: 1px 4px;
	left: 0;
	font-size: 12px;
	top: -15px;
	border-top-right-radius: 4px;
	opacity: 0.7;
	position: relative;
	color: white;
	font-weight: bold;
}

.GuildList {
	height: 102px !important;
	padding: 3px 0px 5px 20px !important;
	font-size: 13px;
}

.GuildNum {
	color: white;
	position: relative;
	top: -100px;
	left: 6px;
	text-shadow: 0 0 1px black, 0 0 4px black;
	font-weight: bold;
}

.cageResults {
	position: fixed;
	top: 100px;
	box-shadow: 0 0 3px 1px #800, 0 5px 20px black;
	z-index: 2;
	border-radius: 6px;
	padding: 5px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_main_middle.jpg');
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 700px;
	left: 10px;
	width: 750px;
}

#cageCloseResult {
	float: right;
	position: relative;
	cursor: pointer;
	margin-bottom: -21px;
	width: 21px;
}

#MonsterResultDamage {
	float: left;
	width: 420px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
}
/*
 * fb Bluebar
 */
img.cageFBBluebar {
	z-index: 30;
	cursor: pointer;
	position: fixed;
	top: -1px;
	left: -1px;
}

img.cageFBBluebarHidden {
	z-index: 9999;
	cursor: pointer;
	position: fixed;
	top: 77px;
	left: -1px;
	background-color: #3B5998;
	padding: 4px 5px;
	border-bottom-right-radius: 6px;
	border: 1px solid #000;
	box-shadow: 1px -9px 5px #000, 2px 5px 12px #000;
}


#cageBlogiFrame {
	margin: -8px 0 -5px -6px;
	width: 751px;
	border: 0;
}