.itemNumbers {
	position: relative;
	top: -25px;
	text-shadow: 0 0 2px #000;
	text-align: left;
	left: 8px;
	font-weight: bold;
	color: #fff;
}
#cageContainer {
	width: 770px;
	font-size: 11px;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}
#cageToolsContainer {
	position: fixed;
	top: 122px;
	padding: 0;
	height: 33px;
	width: 753px;
	margin-left: 8px;
	z-index: 1;
	box-shadow: 0 10px 20px black;
}
#cageMenu {
	position: fixed;
	height: 28px;
	z-index: 4;
	box-shadow: 0 10px 55px black;
	top: 96px;
	width: 751px;
	font-size: 12px;
	margin-left: 9px;
}
#cageMenu ul, #cageMenu ul li {
	list-style: none;
	padding: 0;
}
#cageMenu > ul {
	position: relative;
	top: -13px;
}
#cageMenu ul li {
	display: inline-block;
}
#cageMenu button {
	margin: 0;
	height: 30px;
}
.cageSubMenu {
	display: none;
	position: absolute;
	width: 160px;
}
.cageSubMenu button {
	width: 160px;
	text-align: left;
	box-shadow: 0 10px 20px black;
}
#cageSettingContainer {
	top: 260px;
	position: fixed;
	width: 204px;
	padding: 3px 3px 3px 0;
	width: 150px;
}
#cageThemeSelector {
	width: 99%;
}
#cageThemeSelector-button {
	font-size: 12px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
#cageThemeSelector-menu {
	font-size: 12px;
}
#cageAbilitiesContainer {
	position: fixed;
	display: block;
	box-shadow: black 0px 10px 20px;
	z-index: 2;
	cursor: default;
	margin-left: 65px;
	border-radius: 35px;
}
/* Guild */
.cageGateFilterTitle {
	position: relative !important;
	left: 11px;
	top: 3px;
	float: left;
	font-size: 12px;
	height: 15px;
	padding: 4px !important;
}
#cageGateClassFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 90px !important;
	height: 23px;
}
#cageGateClassFilter-menu {
	font-size: 12px;
	width: 90px !important;
}
#cageGateActivityFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 80px !important;
	height: 23px;
}
#cageGateActivityFilter-menu {
	font-size: 12px;
	width: 80px !important;
}
#cageGateStatusFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 100px !important;
	height: 23px;
}
#cageGateStatusFilter-menu {
	font-size: 12px;
	width: 100px !important;
}
#cageAssists {
	font-weight: bold;
	margin-left: 10px;
	padding: 10px;
	background-color: #C6A56F;
	color: black;
	cursor: pointer;
	height: 15px;
	width: 100px;
	text-align: center;
	float: left;
	margin-top: 10px;
}
.cageAssisterList {
	background-image: url('http://image4.castleagegame.com/graphics/newsfeed_back.jpg');
	background-repeat: no-repeat;
	margin: 0 0 13px 25px;
	height: 174px;
	cursor: pointer;
}
.cageAssisterList:hover {
	background-image: url('http://image4.castleagegame.com/graphics/newsfeed_back_h.jpg');
}
.cageAssisterListImage {
	position: relative;
	left: 45px;
	top: 38px;
}
.cageAssisterListName {
	position: relative;
	left: 150px;
	top: -50px;
}
.cageAssisterListValues {
	position: relative;
	left: 150px;
	top: -50px;
}
#cageDemiContainer {
	position: fixed;
	width: 540px;
	box-shadow: black 0px 10px 20px;
	z-index: 2;
	cursor: default;
	height: 128px;
	padding-top: 8px;
	padding-left: 18px;
	margin-left: 105px;
	top: -100px;
	display: none;
}
#cageDemiContainer > div {
	padding-top: 22px;
	padding-right: 18px;
	display: inline-block;
}
#cageDemiContainer img {
	height: 90px;
	border-radius: 15px;
}
.cageDemiImage {
	width: 90px;
	height: 90px;
	position: relative;
	background-position: -48px 0;
	cursor: pointer;
	opacity: 0.7;
	border-radius: 10px;
}
.cageDemiImage:hover {
	opacity: 1;
}
#cageDemienergy:hover {
	box-shadow: 0 0 20px 5px #43936e;
}
#cageDemistamina:hover {
	box-shadow: 0 0 20px 5px #496a79;
}
#cageDemihealth:hover {
	box-shadow: 0 0 20px 5px #1ac176;
}
#cageDemiattack:hover {
	box-shadow: 0 0 20px 5px #cea640;
}
#cageDemidefense:hover {
	box-shadow: 0 0 20px 5px #40a0a0;
}
#cageDemiContainer span {
	display: block;
	position: relative;
	left: 13px;
	top: 50px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: black;
	width: 60px;
	opacity: 0.8;
	border-bottom-right-radius: 10px;
	padding: 2px;
	border-top-left-radius: 10px;
}
.cageDemiResult {
	font-size: 12px;
	top: 100px;
}
.ui-widget {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px !important;
}
#cageSummonCTA {
	cursor: pointer;
	position: relative;
	top: -26px;
	width: 112px;
	left: 2px;
}
#cageSummonCTA:hover {
	opacity: 0.9;
}
/*
 * Player monster list
 */
.cageTowerImage {
	position: relative;
	margin: 20px;
	border-radius: 6px;
	top: 10px;
	box-shadow: 0 3px 5px #000;
	margin-left: 105px;
}
/*
 *
 */
#cageInfos {
	position: fixed;
	bottom: 15px;
	left: 15px;
	width: 200px;
}
.cageInfo {
}
/*
 * Abilities
 */
#cageClassCleric {
	display: none;
	border-radius: 50px;
	padding: 0;
	position: absolute;
	left: 23px;
	top: 13px;
	cursor: pointer;
}
#cageClassCleric img {
	height: 30px;
}
#cageClassWarrior {
	display: none;
	border-radius: 50px;
	padding: 0;
	position: absolute;
	left: 70px;
	top: 13px;
	cursor: pointer;
}
#cageClassWarrior img {
	height: 30px;
}
#cageClassMage {
	display: none;
	border-radius: 50px;
	padding: 0;
	position: absolute;
	right: 23px;
	top: 13px;
	cursor: pointer;
}
#cageClassMage img {
	height: 30px;
}
#cageClassRogue {
	display: none;
	border-radius: 50px;
	padding: 0;
	position: absolute;
	right: 70px;
	top: 13px;
	cursor: pointer;
}
#cageClassRogue img {
	height: 30px;
}	