#cageStatsContainer {
	width: 770px;
	z-index: 3;
	height: 0;
	position: fixed;
	cursor: pointer;
}
/*
 * Keep
 */
#cageKeepStats {
	background-image: url('http://image4.castleagegame.com/20843/graphics/essencebox.gif');
	background-repeat: no-repeat;
	width: 657px;
	height: 122px;
	margin-left: 40px;
	margin-bottom: 16px;
}

#cageKeepStats>div {
	text-shadow: 2px 2px #000;
	float: left;
	width: 144px;
	height: 25px;
	padding: 20px 0 0 20px;
}
/*
 * All Stats
 */
/* stats boxes */
.cageStatBackground {
	position: absolute;
}

.cageStatBackground>div:first-of-type {
	position: absolute;
	height: 33px;
	width: 100%;
	background: #333;
	opacity: 0.75;
	border: 1px ridge;
	box-shadow: 0px 2px 5px #000 inset;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.cageStatBackground>hr {
	position: absolute;
	top: 10px;
	width: 95%;
	border: 0;
	height: 1px;
	background-color: #777;
	margin-left: 5%;
}

.cageStatBackground>div:last-of-type {
	position: relative;
	font-size: 12px;
	top: 2px;
	color: #fff;
	width: 74%;
	text-shadow: 0px 0px 2px #000;
	line-height: 16px;
	padding: 0 5px 0 35px;
}

#st_1,#st_2,#st_3,#st_4,#st_5 {
	position: absolute;
	margin: 0;
	float: none;
}
/* stats buttons */
#cageStash,#cagePotionEnergy,#cageHeal,#cagePotionStamina,#cageStatPoints {
	background-position: -2px -1px;
	position: absolute;
	width: 29px;
	height: 29px;
	border-radius: 20px;
	cursor: pointer;
	background-size: 28px 28px;
}
/*
 * Gold
 */
#cageStash {
	background-image: url('http://image4.castleagegame.com/graphics/stat_gold.gif');
	top: 11px;
	left: 27px;
}

#cageStatBGGold {
	top: 8px;
	left: 13px;
	width: 157px;
}

#st_1 {
	top: 10px;
	left: 15px;
	width: 157px !important;
}

#st_2_1 {
	top: 26px;
	left: 1px;
	width: 126px !important;
	position: absolute;
	text-align: right;
}

#st_1>div:first-child {
	padding-left: 40px;
	left: 10px;
	position: relative;
}

#gold_time_value {
	position: relative;
	float: right;
	right: 16px;
}
/*
 * Energy
 */
#cagePotionEnergy {
	background-image: url('http://image4.castleagegame.com/graphics/stat_energy.gif');
	top: 11px;
	left: 198px;
}

#cageStatBGEnergy {
	top: 8px;
	left: 185px;
	width: 115px;
}

#st_2 {
	left: 187px;
	width: 113px !important;
}

#st_2_2 {
	top: 26px;
	left: 204px;
	width: 92px !important;
	position: absolute;
	text-align: right;
}

#energy_time_container {
	position: absolute;
	float: right;
	right: 5px;
	top: -3px;
}
/*
 * Health
 */
#cageHeal {
	background-image: url('http://image4.castleagegame.com/graphics/stat_health.gif');
	top: 11px;
	left: 330px;
}

#cageStatBGHealth {
	top: 8px;
	left: 317px;
	width: 115px;
}

#st_3 {
	left: 316px;
	width: 116px !important;
}

#st_2_3 {
	top: 26px;
	left: 300px;
	width: 92px !important;
	position: absolute;
	text-align: right;
}

#health_time_container {
	position: absolute;
	float: right;
	right: 5px;
	top: -3px;
}
/*
 * Stamaina
 */
#cagePotionStamina {
	background-image: url('http://image4.castleagegame.com/graphics/stat_stamina.gif');
	top: 11px;
	left: 461px;
}

#cageStatBGStamina {
	top: 8px;
	left: 448px;
	width: 115px;
}

#st_4 {
	left: 449px;
	width: 113px !important;
}

#st_2_4 {
	top: 26px;
	left: 432px;
	width: 91px !important;
	position: absolute;
	text-align: right;
}

#stamina_time_container {
	position: absolute;
	float: right;
	right: 5px;
	top: -3px;
}
/*
 * Level / XP
 */
#cageStatBGLevel {
	top: 8px;
	left: 579px;
	width: 157px;
}

#st_5 {
	left: 580px;
	top: 8px;
	width: 157px !important;
	height: 17px !important;
}

#st_5>div:last-child {
	top: 2px !important;
	padding-left: 25px;
}

#st_2_5 {
	top: 26px;
	left: 599px;
	width: 119px !important;
	position: absolute;
	text-align: right;
}

div.lvlBr {
	position: absolute;
	background: #555;
	width: 127px;
	height: 11px !important;
	top: 4px;
	left: 23px;
	border-radius: 3px;
	border: 1px inset;
}

#main_ststb>div:first {
	height: 16px;
	margin-bottom: -2px;
}

#st_5 div.lvlBr div {
	height: 11px;
	border-radius: 2px;
}
/*
 * Potions count
 */
.cagePotionCount {
	color: #fff;
	text-shadow: 0 0 3px blue;
	font-weight: bold;
	font-size: 13px;
}
/*
 * Stat Points
 */
#cageStatPoints {
	background-image: url('http://image4.castleagegame.com/graphics/keep_upgrade_green.gif');
	top: 11px;
	left: 592px;
}

#cageStatPoints>span {
	position: absolute;
	width: 24px;
	display: inline-block;
	top: 5px;
	color: #fff;
	text-shadow: 0 0 5px black;
	font-weight: bold;
	font-size: 14px;
	left: 0;
}
/*
 * Keep
 */
#cageArmyKeep {
	background: #886547;
	padding: 1px;
	width: 88px;
	position: relative;
	left: 1px;
}

#cageArmyKeep button {
	cursor: pointer;
	width: 86px;
	height: 24px;
	font-size: 10px;
	color: #ccc;
	background: #8b2c1a;
	border-color: #8F331C;
	border-radius: 5px;
	font-family: serif;
}

#cageArmyKeep button:hover {
	opacity: 0.85;
}
/*
 *
 */
div.cageStatsTextPos {
	position: absolute;
	border-bottom: 1px solid #555;
	z-index: 1;
	top: 9px;
	height: 16px;
}

strong.cageStatsText {
	display: inline-block;
	float: left;
	font-size: 12px;
	color: #eee;
}
/*
 * Level Up
 */
#cageLevelUp {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif !important;
	display: none;
	z-index: 990;
}

#cageLevelUp>div:first-of-type {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.75;
	position: fixed;
	top: 0;
	z-index: 991;
}

#cageLevelUp>div:last-of-type {
	width: 500px;
	height: 389px;
	position: fixed;
	top: 90px;
	z-index: 1000;
	left: 50%;
	margin-left: -250px;
}

#cageLevelUpTop {
	color: white;
	font-weight: bold;
	padding: 15px 0 0 153px;
	height: 45px;
	width: 346px;
	background-image: url('http://image4.castleagegame.com/graphics/helpmenu_top.jpg');
}

#cageLevelUpMiddle {
	background-image: url('http://image4.castleagegame.com/graphics/helpmenu_middle.jpg');
	width: 500px;
	height: 300px;
}

#cageLevelUpBottom {
	background-image: url('http://image4.castleagegame.com/graphics/helpmenu_bottom.jpg');
	width: 500px;
	height: 30px;
}

div.cageLevelUpStat {
	margin: 0 0 3px 40px;
	padding: 4px;
	border: 2px inset;
	width: 269px;
	border-radius: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_jobs_tile.jpg');
}

div.cageLevelUpStat>img:first-of-type {
	height: 28px;
}

span.cageLevelUpStatName {
	text-transform: capitalize;
	width: 66px;
	display: inline-block;
	vertical-align: top;
	margin: 3px 0 0 8px;
}

span.cageLevelUpStatVal {
	width: 68px;
	display: inline-block;
	vertical-align: top;
	margin: 3px 0 0 8px;
	font-weight: bold;
	text-align: right;
	margin-right: 15px;
}

img.cageLevelUpPlus,img.cageLevelUpMinus {
	margin: 4px;
	box-shadow: 0 0 3px 1px #000;
	cursor: pointer;
}

img.cageLevelUpPlus:hover,img.cageLevelUpMinus:hover {
	box-shadow: 0 0 2px 0px #000;
}

img.cageLevelUpPlus:active,img.cageLevelUpMinus:active {
	box-shadow: 0 0 0;
}

#cageLevelUpSP {
	position: absolute;
	top: 60px;
	right: 40px;
	text-align: center;
	width: 116px;
	font-size: 20px;
	padding: 4px;
	border: 2px inset;
	border-radius: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_jobs_tile.jpg');
	line-height: 39px;
	font-weight: bold;
}

#cageLevelUpBar {
	position: absolute;
	bottom: 60px;
	left: 32px;
	width: 433px;
	border: 2px inset;
	border-radius: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_jobs_tile.jpg');
	height: 17px;
}

#cageLevelUpBar>div {
	height: 17px;
	width: 4%;
	background-color: #0a0;
	border-radius: 15px;
}

#cageLevelUpSave {
	position: absolute;
	left: 32px;
	bottom: 25px;
	cursor: pointer;
}

#cageLevelUpCancel {
	position: absolute;
	right: 32px;
	bottom: 25px;
	cursor: pointer;
}