#cageSidebar {
	position: fixed;
	margin-left: 764px;
	width: 200px;
	font-size: 12px;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	color: #fff;
	box-shadow: 0 4px 5px #000;
	text-align: left;
	border-bottom-right-radius: 34px 42px;
	z-index: 2;
}

#cageSidebarHeader {
	padding-bottom: 5px;
	width: 200px;
	background-image: url('http://image4.castleagegame.com/graphics/class_submenu_middle.jpg');
	background-position: -441px 0;
	position: relative;
}

#cageSidebarStats {
	background-image: url('http://image4.castleagegame.com/graphics/class_submenu_middle.jpg');
	background-position: -441px 0;
	width: 200px;
	position: relative;
	padding-bottom: 5px;
}

#cageSidebarTools {
	width: 190px;
	position: relative;
	background-image: url('http://image4.castleagegame.com/graphics/class_submenu_middle.jpg');
	background-position: -441px 0;
	padding: 0 5px 8px 5px;
}

#cageSidebarChat {
	height: 150px;
	width: 190px;
	background-image: url('http://image4.castleagegame.com/graphics/class_submenu_middle.jpg');
	background-position: -441px 0;
	padding: 0 5px 32px 5px;
	display: none;
}

#cageSidebarBottom {
	background-image: url('http://image4.castleagegame.com/graphics/class_submenu_bottom.gif');
	height: 17px;
	width: 192px;
	background-position: -441px 0;
	padding: 4px;
}

#cageSidebarBottom>a {
	color: #ccc;
	font-weight: bold;
	font-size: 12px;
	margin: 0 5px 0 0;
}
/*
 * Hide siebar sections
 */
.cageSidebarSectionHider {
	position: absolute;
	top: -2px;
	left: 1px;
	z-index: 10;
	background-color: #000;
	border-radius: 50px;
	opacity: 0;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.cageSidebarSectionHiderText {
	position: absolute;
	top: -2px;
	left: 20px;
}
/*
 * Sidebar dialog small
 */
div.cageDialogSmall {
	position: absolute;
	width: 272px;
	right: 9px;
	opacity: 0;
	z-index: -1;
	font-family: sans-serif;
	box-shadow: 0 4px 14px #000;
	border-radius: 15px;
}

div.cageDialogSmall>div:nth-child(1) {
	background-image: url('http://image4.castleagegame.com/graphics/guild_feed_rightheader.gif');
	height: 23px;
	padding: 12px 23px 0 0;
	font-weight: bold;
	color: #fff;
	font-size: 13px;
	text-align: center;
}

div.cageDialogSmall>div:nth-child(2) {
	background-image: url('http://image4.castleagegame.com/graphics/guild_feed_rightsubheader.gif');
	height: 11px;
}

div.cageDialogSmall>div:nth-child(3) {
	background-image: url('http://image4.castleagegame.com/graphics/guild_feed_rightsubmiddle.gif');
	color: #fff;
	text-align: justify;
	padding: 0 28px 5px 25px;
	font-size: 14px;
}

div.cageDialogSmall>div:nth-child(4) {
	background-image: url('http://image4.castleagegame.com/graphics/guild_feed_rightsubbottom.gif');
	height: 11px;
}

div.cageDialogSmall>div:nth-child(5) {
	background-image: url('http://image4.castleagegame.com/graphics/guild_feed_rightbottom.gif');
	height: 11px;
}

div.cageDialogSmall>div:nth-child(3)>div {
	height: 20px;
	padding: 10px 0;
}

div.cageDialogSmall>div:nth-child(3)>div>button {
	border-radius: 5px;
	cursor: pointer;
}

div.cageDialogSmall>div:nth-child(3)>div>button:active {
	opacity: 0.75;
}

div.cageDialogSmall>div:nth-child(3)>div>button.ok {
	border-radius: 5px;
	float: left;
	cursor: pointer;
}

div.cageDialogSmall>div:nth-child(3)>div>button.cancel {
	background-image: url('http://image4.castleagegame.com/graphics/war_select_button_cancel.gif');
	width: 100px;
	float: right;
	background-size: 100px;
	background-position: 0 -2px;
}
/*
 * ########### STATS ##########
 */
div.cageSidebarStat {
	position: relative;
	height: 33px;
	width: 175px;
	background: rgba(51, 51, 51, 0.6);
	border: 1px ridge;
	box-shadow: 0px 2px 5px #000 inset;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	left: 5px;
	margin-bottom: 5px;
}
/*
 * Demi Timer
 */
#cageDemiLogo {
	height: 29px;
	position: absolute;
	border-radius: 50px;
	background: #000;
	left: 8px;
	width: 29px;
	margin-top: -37px;
	background-size: 125px 29px;
	cursor: pointer;
	background-image: url('http://image4.castleagegame.com/graphics/choose_demi.jpg');
}

#cageNextDemi>div:nth-child(1) {
	position: relative;
}

#cageNextDemi>div:nth-child(2) {
	background: #333;
	width: 150px;
	margin-left: 18px;
	border-radius: 3px;
	border: 1px inset;
	top: 17px;
	position: absolute;
}

#cageNextDemi>div>div {
	height: 10px;
	width: 1%;
	border-radius: 2px;
}

#cageNextDemi>span {
	font-size: 12px;
	color: #fff;
}

#cageNextDemi>span:first-of-type {
	margin-left: 34px;
	position: absolute;
}

#cageNextDemi>span:last-of-type {
	right: 6px;
	position: absolute;
}
/*
 * Class stats
 */
#cageClassLogo {
	height: 29px;
	position: absolute;
	border-radius: 50px;
	background: #000;
	left: 8px;
	width: 29px;
	margin-top: -37px;
	background-position: -5px -5px;
	background-size: 35px;
	cursor: pointer;
}

#cageStatsClass>div {
	margin-left: 34px;
}

#cageStatsClass>span {
	position: absolute;
	bottom: 2px;
	right: 3px;
}

#cageStatsClass span>img {
	height: 20px;
	border-radius: 15px;
	position: relative;
}

#cageStatsClass span>img:hover {
	box-shadow: 0 5px 8px 3px #000;
}

#cageStatsClassLogo {
	background-size: 32px 33px;
	top: 53px;
	left: 352px;
	background-position: -4px -4px;
}
/*
 * Favorpoints
 */
#cageFavorPoints {
	position: absolute;
	width: 23px;
	display: inline-block;
	top: 5px;
	color: #fff;
	text-shadow: 0 0 6px black;
	font-weight: bold;
	font-size: 14px;
	left: 0px;
	text-align: center;
	z-index: 1;
}

#cageFavorLogo {
	height: 29px;
	position: absolute;
	border-radius: 50px;
	background: #000;
	left: 8px;
	width: 29px;
	margin-top: -37px;
	background-size: 28px 28px;
	cursor: pointer;
	background-image: url('http://image4.castleagegame.com/graphics/favor_icon.jpg');
	background-position: -2px -2px;
}

#cageStatsFavor>div {
	margin-left: 34px;
}

#cageStatsFavor>span {
	position: absolute;
	bottom: 2px;
	right: 3px;
}

#cageStatsFavor span>input {
	height: 20px;
	border-radius: 50px;
	position: relative;
	border: 1px outset;
	cursor: pointer;
	margin-left: 3px;
}

#cageStatsFavor span>input:hover {
	box-shadow: 0 5px 8px 3px #000;
	z-index: 1;
}
/*
 * Loadout
 */
#cageLoadoutSubmit {
	height: 29px;
	position: absolute;
	border-radius: 50px;
	background: #000;
	left: 8px;
	width: 29px;
	margin-top: -37px;
	cursor: pointer;
	background-image: url('http://image4.castleagegame.com/graphics/achivement_tabicons_conquest_duel_rank.gif');
	background-size: 61px;
	background-position: -18px -16px;
}

#cageLoadoutDisplay>div {
	margin-left: 34px;
}

#cageLoadoutDisplay>div:last-of-type {
	position: absolute;
	bottom: 3px;
	right: 3px;
}

#cageLoadoutDisplay>div:last-of-type>input {
	height: 20px;
	border-radius: 50px;
	position: relative;
	border: 1px outset;
	cursor: pointer;
	width: 20px;
	background-color: #000;
}

#cageLoadoutDisplay>div:last-of-type>input:hover {
	box-shadow: 0 5px 8px 3px #000;
	z-index: 1;
}

/*
 * COPTER
 */
#cageCOPTERSubmit {
	height: 29px;
	position: absolute;
	border-radius: 50px;
	background: #000;
	left: 8px;
	width: 29px;
	margin-top: -37px;
	cursor: pointer;
	background-image: url('http://image4.castleagegame.com/graphics/favor_clear.gif');
	background-size: 28px 28px;
	background-position: -2px -2px;
}

#cageCOPTERSubmit>div {
	font-size: 23px;
	font-weight: bold;
	margin: -13px 0 0 -3px;
	position: absolute;
}

#cageCOPTERDisplay>div {
	margin-left: 34px;
}

#cageCOPTERDisplay>span {
	position: absolute;
	bottom: 2px;
	right: 3px;
}

#cageCOPTERDisplay span>img {
	height: 20px;
	border-radius: 15px;
	position: relative;
}

#cageCOPTERDisplay span>img:hover {
	box-shadow: 0 5px 8px 3px #000;
}

/*
 *  Chat in sidebar
 */
.chatGuildChatSidebar {
	font-size: 11px !important;
	width: 174px !important;
	position: relative;
	padding: 0 0px 0 2px !important;
	border: 1px inset;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
}

.chatGuildChatContainerSidebar {
	
}

.chatGuildChatTextBoxSidebar {
	
}

.chatGuildChatTextBoxSidebar>div>div:first-of-type {
	margin: 4px 0 0 0px !important;
	width: 164px !important;
}

.chatGuildChatTextBoxSidebar>div>div:first-of-type>input {
	width: 160px !important;
	height: 18px !important;
	font-size: 11px !important;
	border-radius: 5px !important;
	box-shadow: 0 2px 5px #000 inset;
}

.chatGuildChatTextBoxSidebar>div>div:nth-of-type(2) {
	padding: 4px 0 0 0 !important;
}

.chatGuildChatTextBoxSidebar>div>div:nth-of-type(2)>input {
	width: 14px !important;
	height: 18px !important;
}

#chatGuildChatSizeHandle {
	background-image: url('http://image4.castleagegame.com/graphics/class_submenu_middle.jpg');
	background-position: -441px 0;
	height: 7px;
}

#chatGuildChatSizeHandle>hr {
	width: 111px;
	margin-right: 61px;
	border-top: 1px solid;
	border-left: 0;
	border-bottom: 1px solid;
	border-right: 0;
	height: 1px;
	border-color: #fff;
	border-width: 1px;
	margin-top: 0px;
}