.itemNumbers {
	position: relative;
	top: -25px;
	text-shadow: 0 0 2px #000;
	text-align: left;
	left: 8px;
	font-weight: bold;
	color: #fff;
}
#cageContainer {
	position: fixed;
	left: 779px;
	width: 209px;
	top: 0;
	font-size: 11px;
	font-family: arial;
}
#cageGeneralContainer {
	padding: 0 0 2px 0;
}
#cageGeneralName {
	font-weight: bold;
	height: 18px;
	padding: 7px 0 0 5px;
	position: absolute;
	text-shadow: 1px 1px black;
	top: 9px;
	left: 70px;
	border-left: 0;
	width: 123px;
}
#cageGeneralImageContainer {
	margin: 3px 0px 1px 3px;
	height: 65px;
	width: 65px;
}
#cageGeneralImage {
	height: 59px;
	padding: 0px;
	margin: 3px 0px 2px 3px;
	cursor: pointer;
}
#cageGeneralValues {
	position: absolute;
	left: 70px;
	top: 35px;
	width: 85px;
	height: 12px;
	text-shadow: 1px 1px black;
	height: 28px;
	width: 104px;
	opacity: 0.8;
}
#cageGeneralAttack {
	width: 10px;
	display: inline-block;
}
.cageGeneralAttDefText {
	top: -5px;
	position: relative;
	font-weight: bold;
	margin-right: 5px;
}
.cageGeneralAttDefImg {
	height: 20px;
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 4px;
}
#cageToolsContainer {
	margin-top: 10px;
	padding: 3px 3px 3px 0;
}
.cageToolButton {
	width: 100%;
	text-align: left !important;
}
#cageMenu {
	position: fixed;
	height: 28px;
	z-index: 4;
	box-shadow: 0 10px 20px black;
	top: 61px;
	border-left: 0;
	border-right: 0;
	left: 10px;
	width: 761px;
	font-size: 12px;
	text-align: center;
}
#cageMenu ul, #cageMenu ul li {
	list-style: none;
	padding: 0;
}
#cageMenu > ul {
	position: relative;
	top: -13px;
}
#cageMenu ul li {
	display: inline-block;
}
#cageMenu button {
	margin: 0;
	height: 30px;
}
.cageSubMenu {
	display: none;
	position: absolute;
	width: 160px;
}
.cageSubMenu button {
	width: 160px;
	text-align: left;
	box-shadow: 0 10px 20px black;
}
#cageSettingContainer {
	margin-top: 10px;
	padding: 3px 3px 3px 0;
}
#cageThemeSelector {
	width: 99%;
}
#cageThemeSelector-button {
	font-size: 12px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
#cageThemeSelector-menu {
	font-size: 12px;
}
#cageGeneralSelector {
	position: fixed;
	top: 94px;
	left: 20px;
	display: none;
	box-shadow: 0 10px 20px black;
	z-index: 3;
	padding: 17px;
	width: 704px;
}
#cageAbilitiesContainer {
	position: fixed;
	top: 92px;
	left: 78px;
	display: block;
	box-shadow: black 0px 10px 20px;
	z-index: 3;
	border-radius: 35px;
}
.cageSelectorImage {
	width: 50px;
	margin: 1px;
	border: 1px solid transparent;
	cursor: pointer;
}
#cageSelectorInfo {
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	display: block;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 5px;
	font-family: arial;
	font-size: 12px;
	line-height: 20px;
}
.cageQuestSwitchGeneral {
	top: -14px;
	position: relative;
	width: 78px;
	cursor: pointer;
}
.cageSelectorGeneral {
	border: 1px solid transparent;
}
.cageSelectorGeneralHover {
	box-Shadow: 0 0 30px #26B3F7;
	border: 1px solid #26B3F7 !important;
}
.cageAddFavourite {
	position: relative;
	margin-left: -10px;
	left: -3px;
	bottom: 3px;
	width: 10px;
	cursor: pointer;
}
#cageFavouriteGenerals {
	box-shadow: 0 0 10px #26b3f7, 0 0 10px #26b3f7 inset;
	margin-bottom: 3px;
	height: 54px;
}
.cageCharge {
	position: relative;
	left: -52px;
	bottom: 2px;
	display: inline-block;
	border-radius: 6px;
	width: 6px;
	opacity: .8;
	background-color: #26B3F7;
	margin-right: -7px;
}
.cageGateFilterTitle {
	position: relative !important;
	left: 11px;
	top: 3px;
	float: left;
	font-size: 12px;
	height: 15px;
	padding: 4px !important;
}
#cageGateClassFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 90px !important;
	height: 23px;
}
#cageGateClassFilter-menu {
	font-size: 12px;
	width: 90px !important;
}
#cageGateActivityFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 80px !important;
	height: 23px;
}
#cageGateActivityFilter-menu {
	font-size: 12px;
	width: 80px !important;
}
#cageGateStatusFilter-button {
	color: white;
	top: 3px;
	left: 9px;
	position: relative;
	float: left;
	font-size: 12px;
	border-radius: 0;
	width: 100px !important;
	height: 23px;
}
#cageGateStatusFilter-menu {
	font-size: 12px;
	width: 100px !important;
}
#cageNewsHead {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid #701919;
}
#cageNewsBody {
	padding: 5px 30px 0 40px;
	border-bottom: 1px solid #701919;
}
#cageNewsFoot {
	text-align: center;
	padding: 10px;
	padding: 5px 30px 0px 40px;
}
#cageNewsChanges span {
	width: 45px;
	display: inline-block;
	font-weight: bold;
}
