#cageStatsContainer {
	width: 770px;
	z-index: 3;
	height: 0;
	position: fixed;
	cursor: pointer;
}
/*
 * Keep
 */
#cageKeepStats {
	background-image: url('http://image4.castleagegame.com/graphics/essencebox.gif');
	background-repeat: no-repeat;
	width: 657px;
	height: 122px;
	margin-left: 40px;
	margin-bottom: 16px;
}

#cageKeepStats>div {
	text-shadow: 2px 2px #000;
	float: left;
	width: 144px;
	height: 25px;
	padding: 20px 0 0 20px;
}
/* stats buttons */
#cageStash,#cagePotionEnergy,#cageHeal,#cagePotionStamina,#cageStatPoints {
	background-position: -1px -1px;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	cursor: pointer;
	background-size: 18px 19px;
	top: 8px;
}
/*
 * Gold
 */
#cageStash {
	background-image: url('http://image4.castleagegame.com/graphics/stat_gold.gif');
	left: 440px;
}

#cageStatBGGold {
	top: 8px;
	left: 13px;
	width: 157px;
}
/*
 * Energy
 */
#cagePotionEnergy {
	background-image: url('http://image4.castleagegame.com/graphics/stat_energy.gif');
	left: 21px;
}
/*
 * Health
 */
#cageHeal {
	background-image: url('http://image4.castleagegame.com/graphics/stat_health.gif');
	top: 8px;
	left: 300px;
}
/*
 * Stamaina
 */
#cagePotionStamina {
	background-image: url('http://image4.castleagegame.com/graphics/stat_stamina.gif');
	left: 162px;
}
/*
 * Potions count
 */
.cagePotionCount {
	color: #fff;
	text-shadow: 0 0 6px black;
	font-size: 11px;
	margin-left: -6px;
	width: 16px;
	text-align: center;
	display: block;
}
/*
 * Stat Points
 */
#cageStatPoints {
	background-image: url('http://image4.castleagegame.com/graphics/keep_upgrade_green.gif');
	left: 578px;
}

#cageStatPoints>span {
	color: #fff;
	text-shadow: 0 0 6px black;
	font-size: 11px;
	margin-left: -6px;
	width: 16px;
	text-align: center;
	display: block;
}
/*
 * Keep
 */
#cageArmyKeep {
	background: #886547;
	padding: 1px;
	width: 88px;
	position: relative;
	left: 1px;
}

#cageArmyKeep button {
	cursor: pointer;
	width: 86px;
	height: 24px;
	font-size: 10px;
	color: #ccc;
	background: #8b2c1a;
	border-color: #8F331C;
	border-radius: 5px;
	font-family: serif;
}

#cageArmyKeep button:hover {
	opacity: 0.85;
}
/*
 *
 */
div.cageStatsTextPos {
	position: absolute;
	border-bottom: 1px solid #555;
	z-index: 1;
	top: 9px;
	height: 16px;
}

strong.cageStatsText {
	display: inline-block;
	float: left;
	font-size: 12px;
	color: #eee;
}
/*
 * Level Up
 */
#cageLevelUp {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif !important;
	display: none;
	z-index: 990;
}

#cageLevelUp>div:first-of-type {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.75;
	position: fixed;
	top: 0;
	z-index: 991;
}

#cageLevelUp>div:last-of-type {
	width: 500px;
	height: 389px;
	position: fixed;
	top: 90px;
	z-index: 1000;
	left: 50%;
	margin-left: -250px;
}

#cageLevelUpTop {
	color: white;
	font-weight: bold;
	padding: 15px 0 0 153px;
	height: 44px;
	width: 346px;
	background-image: url('http://image4.castleagegame.com/graphics/helpmenu_top.jpg');
}

#cageLevelUpMiddle {
	background-image: url('http://image4.castleagegame.com/graphics/helpmenu_middle.jpg');
	width: 500px;
	height: 300px;
}

#cageLevelUpBottom {
	background-image: url('http://image4.castleagegame.com/graphics/helpmenu_bottom.jpg');
	width: 500px;
	height: 30px;
}

div.cageLevelUpStat {
	margin: 0 0 3px 40px;
	padding: 4px;
	border: 2px inset;
	width: 269px;
	border-radius: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_jobs_tile.jpg');
}

div.cageLevelUpStat>img:first-of-type {
	height: 28px;
}

span.cageLevelUpStatName {
	text-transform: capitalize;
	width: 66px;
	display: inline-block;
	vertical-align: top;
	margin: 3px 0 0 8px;
}

span.cageLevelUpStatVal {
	width: 68px;
	display: inline-block;
	vertical-align: top;
	margin: 3px 0 0 8px;
	font-weight: bold;
	text-align: right;
	margin-right: 15px;
}

img.cageLevelUpPlus,img.cageLevelUpMinus {
	margin: 4px;
	box-shadow: 0 0 3px 1px #000;
	cursor: pointer;
}

img.cageLevelUpPlus:hover,img.cageLevelUpMinus:hover {
	box-shadow: 0 0 2px 0px #000;
}

img.cageLevelUpPlus:active,img.cageLevelUpMinus:active {
	box-shadow: 0 0 0;
}

#cageLevelUpSP {
	position: absolute;
	top: 60px;
	right: 40px;
	text-align: center;
	width: 116px;
	font-size: 20px;
	padding: 4px;
	border: 2px inset;
	border-radius: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_jobs_tile.jpg');
	line-height: 39px;
	font-weight: bold;
}

#cageLevelUpBar {
	position: absolute;
	bottom: 60px;
	left: 32px;
	width: 433px;
	border: 2px inset;
	border-radius: 10px;
	background-image: url('http://image4.castleagegame.com/graphics/bg_jobs_tile.jpg');
	height: 17px;
}

#cageLevelUpBar>div {
	height: 17px;
	width: 4%;
	background-color: #0a0;
	border-radius: 15px;
}

#cageLevelUpSave {
	position: absolute;
	left: 32px;
	bottom: 25px;
	cursor: pointer;
}

#cageLevelUpCancel {
	position: absolute;
	right: 32px;
	bottom: 25px;
	cursor: pointer;
}