#cageGeneralName {
	height: 18px;
	padding: 2px 0 0 6px;
	position: absolute;
	text-shadow: 1px 1px black;
	top: 9px;
	left: 70px;
	border-left: 0;
	width: 163px;
}
#cageGeneralImageContainer {
	margin: 3px 0px 1px 3px;
	height: 65px;
	width: 65px;
}
#cageGeneralImage {
	height: 59px;
	padding: 0px;
	margin: 3px 0px 1px 3px;
	cursor: pointer;
}
#cageToolsContainer {
	margin-top: 10px;
	padding: 3px 3px 3px 0;
	width: 200px;
}
.cageToolButton {
	width: 100%;
}