body {
	overflow: hidden !important;
	background-color: #000 !important;
}
#blueBarHolder {
	height: 0 !important;
}
#blueBar {
	display: block !important;
	height: 34px !important;
	min-width: 0 !important;
}
#globalContainer {
	width: 100% !important;
	left: 0 !important;
	padding-right: 0 !important;
	min-width: 0 !important;
}
#pageLogo > a {
	margin-top: 0 !important;
}
#jewelContainer {
	padding-top: 0 !important;
}
#pageNav {
	padding-top: 1px !important;
}
#pageHead {
	min-width: 0 !important;
	height: 33px !important;
	padding: 0 0 0 5px !important;
	background-color: #3B5998 !important;
	border-bottom: black solid 1px !important;
	width: 100% !important;
	margin-left: 0 !important;
	left: 0 !important;
}
#headNav {
	margin-top: 2px !important;
	min-width: 600px;
}
#fbDockChat {
	margin-right: 3px !important;
}
#contentCol {
	margin-top: 33px !important;
	padding: 0 !important;
}
#rightCol {
	display: none !important;
}
#contentArea {
	width: 100% !important;
	padding-left: 0 !important;
	margin-left: 0 !important;
}
#pagelet_canvas_footer_content {
	display: none !important;
}
.cageNewsDialog {
	margin-top: 100px;
}
#cageNews {
}
#cageNewsHead {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid white;
}
#cageNewsBody {
	padding: 5px 30px 0 40px;
	border-bottom: 1px solid white;
}
#cageNewsFoot {
	text-align: center;
	padding: 10px;
	padding: 5px 30px 0px 40px;
}
#cageNewsChanges {
	padding: 10px;
}
#cageNewsChanges span {
	width: 45px;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}
.fbJewelFlyout {
	top: 32px !important;
}
/*
 * General in FB UI
 */
#cageFacebook {
	margin-right: 20px;
	margin-left: 20px;
}
#cageFacebook li {
	display: inline-block;
}
#cageFacebook a {
	height: 31px;
	line-height: 29px;
	padding: 0;
	vertical-align: top;
	display: inline-block;
	margin-top: 1px;
	text-decoration: none;
	padding-left: 4px;
}
#cageFacebook a {
	color: #D8DFEA;
}
#cageFacebook a:hover {
	background-color: #4B67A1 !important;
	color: #fff !important;
}
#cageFacebook span {
	padding-right: 8px;
	vertical-align: top;
	font-weight: bold;
	padding-left: 5px;
}
#cageGeneralImage {
	border: solid 1px #294A8F;
	border-top: solid 1px #123682;
	-webkit-border-radius: 2px;
	height: 23px;
	margin: 3px 5px 3px 3px;
	width: 23px;
}
.cageGeneralAttDefImg {
	height: 23px;
	position: relative;
	top: -4px;
}
